<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="box-shadow-full ">
    <div class="row ">
      <div class="col-md-6 ">
        <div class="title-box-2 ">
          <h5 class="title-left ">
            Kontakt
          </h5>
        </div>
        <div class="row ">
          <div class="col-sm-6 col-md-5 ">
            <div class="about-img ">
              <img src="/assets/img/LogIn.png " class="img-fluid rounded b-shadow-a " alt=" ">
            </div>
          </div>
          <div class="contact-info ">
            <p><span class="title-s ">Meno: </span> <span>{{name}}</span></p>
            <p><span class="title-s ">Škola: </span> <span>STU FEI</span></p>
            <p><span class="title-s ">Odbor: </span> <span>Aplikovaná informatika</span></p>
            <p><span class="title-s ">Email: </span> <span>{{email}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="about-me pt-4 pt-md-0 ">
          <div class="title-box-2 ">
            <h5 class="title-left ">
              O projekte
            </h5>
          </div>
          <p class="lead ">
            Tento projek vznikol akobakalárska práca pod vedením pána Ing. Vladislava Nováka ...bla bla bla . Object role modeling
          </p>
          <p class="lead ">
            Táto webová aplikácia slúži ako manažment hotelového systému ... bla bla bla.
          </p>
          <p class="lead ">
            Použité technológie ... bla bla bla.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
