<div class="container">
  <div class="box-shadow-full ">
    <div class="row justify-content-center">
    <div class="col-5">

      <div class="title-box-2 ">
        <h5 class="title-left ">
          Kontakt
        </h5>
      </div>

      <p><span class="title-s ">Názov práce: </span> <span>Object Role modeling</span></p>
      <p><span class="title-s ">Aplikácia: </span> <span>Rezervačný hotelový systém</span></p>
      <p><span class="title-s ">Škola: </span> <span>STU FEI</span></p>
      <p><span class="title-s ">Meno: </span> <span>Jana Pochybová</span></p>
      <p><span class="title-s ">Email: </span> <span>xpochybovaj@stuba.sk</span></p>
      <p><span class="title-s ">Vedúci práce: </span> <span>Ing. Vladislav Novák</span></p>
    </div>

    <div class="col-7">

      <div class="title-box-2 ">
        <h5 class="title-left ">
          O projekte
        </h5>
      </div>
      <p class="lead ">
        Táto webová aplikácia slúži ako prototyp registračného hotelového systému na vytváranie a registráciu ponúk ubytovania.
      </p>
      <p class="lead ">
        Aplikácia bola vytvorená ako bakalárka práca: Object-Role Modeling, ktorej hlavným cieľom bolo naštudovanie si dátového modelu ORM a následné praktické použitie v aplikácii.
      </p>
      <p class="lead ">
        ORM model mojej aplikácie môžete nájsť na tomto odkaze:
      </p>

    </div>
    </div>
  </div>
</div>
