<!--<div class="home">-->
<!--  <img src="assets/img/choc.jpg" width="2912" height="1824">-->
<!--</div>-->
<div id="home" class="intro route bg-image" style="background-image: url(assets/img/choc_zima.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <p class="intro-subtitle">"Necestujeme, aby sme utiekli od života. Cestujeme, aby život neutiekol nám."</p>
      </div>
    </div>
  </div>
</div>
