<section id="offers" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row off">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Ponuky
          </h3>
          <p class="intro-subtitle">
            <strong>Veni Vidi Amavi!</strong></p>
          <div class="line-mf "></div>
        </div>
      </div>
    </div>
    <div class="row ">

      <div *ngFor="let offer of offersList" class="col-md-4 ">
        <div class="work-box ">

            <div class="work-img ">
              <img src="{{'data:image/jpg;base64,' + offer.image}}" class="img-fluid ">
            </div>
          <div class="work-content ">
            <div class="row ">
              <div class="col-sm-8 ">
                <h2 class="w-title ">{{offer.name}}</h2>
                <div class="w-more ">
                  <span class="country ">{{offer.country}}</span> - <span class="city ">Mesto</span> / <span class="price ">{{offer.price}} €</span>
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="w-like ">
                  <a [routerLink]="['/offer/reservation', offer.name]">
                    <button type="button" class="btn btn-outline-info offer-btn">Otvoriť</button></a>
                </div>
                <div>
                    <button type="button" *ngIf="(isAdmin) || (loggedUser === offer.user.username)"  (click)="remove(offer.id)" class="btn btn-outline-danger offer-btn">Vymazať</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
