<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="box-shadow-full ">
<div class="table-wrapper">
  <div class="table-title align-middle row justify-content-between">

      <div class="col-6">
        <b>SPRAVOVANIE </b>Používateľov
      </div>
      <div class="col-6" >
        <a href="#" class="btn btn-light float-right"><i class="bi bi-plus-circle-fill icon-plus"></i><span>  Add New User</span></a>

    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let user of usersList | slice:0; let i = index">
      <td>{{i + 1}}</td>
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.role}}</td>
      <td>{{user.email}}</td>
      <td>
        <a href="#" class="settings" title="" data-toggle="tooltip" data-original-title="Settings"><i class="material-icons">Delete </i></a>
        <a href="#" class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons"> Manage</i></a>
      </td>
    </tr>

    </tbody>
  </table>

</div>
  </div>
</div>
